In [2]:
import pandas as pd

In [3]:
csv_file = "USDA.csv"
usda_df = pd.read_csv(csv_file, encoding = 'latin1')
usda_df.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp,0.0
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp,0.0
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup,0.0
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch,0.0
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded",0.0

In [4]:
split_df = pd.concat([usda_df['Shrt_Desc'].str.split(',', expand=True), usda_df[['NDB_No', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Sugar_Tot_(g)']]], axis=1)

split_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,NDB_No,Water_(g),Energ_Kcal,Protein_(g),Sugar_Tot_(g)
0,BUTTER,WITH SALT,None,None,None,None,None,None,None,None,None,None,1001,15.87,717,0.85,0.06
1,BUTTER,WHIPPED,W/ SALT,None,None,None,None,None,None,None,None,None,1002,16.72,718,0.49,0.06
2,BUTTER OIL,ANHYDROUS,None,None,None,None,None,None,None,None,None,None,1003,0.24,876,0.28,0.00
3,CHEESE,BLUE,None,None,None,None,None,None,None,None,None,None,1004,42.41,353,21.40,0.50
4,CHEESE,BRICK,None,None,None,None,None,None,None,None,None,None,1005,41.11,371,23.24,0.51

In [5]:
candy_df = split_df.loc[split_df[0] == 'CANDIES']

new_candy_df = candy_df[[1, 2, 'NDB_No', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Sugar_Tot_(g)']]

new_candy_df.to_csv('candy.csv')

new_candy_df

,1,2,NDB_No,Water_(g),Energ_Kcal,Protein_(g),Sugar_Tot_(g)
6049,TOBLERONE,MILK CHOC W/ HONEY & ALMOND NOUGAT,19001,3.28,525,5.71,55.74
6068,HONEY-COMBED,W/ PNUT BUTTER,19025,2.54,486,8.72,62.68
6100,TOOTSIE ROLL,CHOCOLATE-FLAVOR ROLL,19064,6.69,387,1.59,56.32
6101,ALMOND JOY CANDY BAR,None,19065,8.20,479,4.13,48.34
6102,TWIZZLERS CHERRY BITES,None,19067,15.00,338,2.97,NaN
...,...,...,...,...,...,...,...
8649,CHOC COVERED,CARAMEL W/NUTS,43031,6.10,470,9.50,41.35
8650,NOUGAT,W/ ALMONDS,43046,2.15,398,3.33,44.97
8651,GUM DROPS,NO SUGAR OR LO CAL (SORBITOL),43057,11.70,354,0.00,70.00
8652,HARD,DIETETIC OR LO CAL (SORBITOL),43058,1.40,394,0.00,0.00
8653,CHOC COVERED,LO SUGAR OR LO CAL,43059,4.00,590,12.39,14.63